.grid-3-column-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 90vh;
  min-width: 100%;
  grid-auto-rows: 1fr;
  gap: 2rem;
}
.product-content-container {
  width: 80%;
  margin-left: 29rem;
  margin-top: 13rem;
  z-index: 100;
}
@media only screen and (min-width: 250px) and (max-width: 970px) {
  .rating-with-icon {
    max-width: 3.7rem;
    padding: 0.2rem;
    flex-shrink: 2;
  }
  /*  */
  .product-content-container {
    margin-left: 14rem;
    width: 100vw;
  }
}
