.center {
  text-align: center;
}

.card-with-shadow {
  border: none;
  cursor: pointer;
  max-height: 39rem;
}

.card-body {
  margin-left: 1.5rem;
}
.rupees-sign {
  font-size: 1.5rem;
  margin-right: -5px;
}
.price {
  color: var(--light-stone);
  padding: 2.5rem;
  margin-left: -1.2rem;
  margin-right: 1rem;
}

.fw-300 {
  font-weight: 300;
}

.link-btn {
  border: 2px solid var(--light-rose) !important;
  background: var(--light-rose);
  color: var(--white-color);
  margin-top: 0.3rem;
  align-self: center;
  min-width: 11rem;
}

.sold-out-badge {
  background-color: var(--secondary-color);
}

.rating-badge {
  left: 8.5rem;
  top: 6.3rem;
}

.rating-badge.estee-badge {
  left: 11.3rem;
}
.fastdelivery-container {
  font-size: 1.2rem;
  margin-left: 4px;
  margin-top: 2px;
}

.btn-wishlist {
  align-self: center;
  margin-left: 3rem;
  font-size: 2.7rem;
  color: var(--secondary-color);
}
.btn-afterwishlist {
  color: rgb(103, 156, 18);
}

.btns-in-flex {
  display: flex;
  align-items: center;
}

.price {
  margin-left: -2rem;
  margin-right: 1rem;
}
.error {
  font-size: 4rem;
  text-align: center;
  width: 80rem;
}
.link-btn.btn-lg {
  width: 17rem;
  margin: 0.2rem;
  font-weight: 550;
  font-family: Georgia, "Times New Roman", Times, serif;
}
/* css from user-profilecss in e-commerce */
.badge {
  height: 1.7rem;
  position: absolute;
  width: 1.7rem;
  background-color: var(--dark-sky);
  border-radius: 50%;
  top: 2.4rem;
  right: 8.4rem;
  color: var(--white-color);
}
.badge.badge-cart {
  right: 2rem;
}
.discountTag {
  font-size: 1.2rem;
  color: blue;
  position: absolute;
  top: 5.7rem;
  right: 4rem;
}
.cursor-drop {
  cursor: no-drop;
}
.cursor-pointer {
  cursor: pointer;
}
