.footer {
  background-color: var(--white-color);
  box-shadow: 0.3rem 0.2rem 1rem var(--light-stone);
  padding: 2rem 1rem;
  color: var(--secondary-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-width: 100%;
  /* bottom: 0;
  position: fixed;
  z-index: 200; */
}

.footer-heading {
  font-size: medium;
  color: var(--secondary-color);
}
