.logo-image {
  width: 8rem;
  height: 8rem;
}
.Hamburger-icon {
  display: none;
  font-size: 2rem;
}

.navbar {
  height: 8rem;
  align-items: center;
  max-width: 100%;
  grid-column: 1/-1;
  position: fixed;
  top: 0;
  background-color: white;
  flex: 1;
  z-index: 650;
}

.nav-items {
  margin-left: -4rem;
  flex-shrink: 2;
}

.nav-item {
  font-size: 2.2rem;
  color: var(--secondary-color);
  cursor: pointer;
}

.logo-text {
  font-size: 3rem;
}

.input-searchbox {
  min-width: 28rem;
  padding: 1rem;
}

.nav-icon {
  color: var(--secondary-color);
}

.nav-icon-sm {
  font-size: 1.4rem;
  display: inline-block;
  min-width: 5rem;
}

.logo-text {
  color: var(--secondary-color);
}
.badge {
  height: 1.7rem;
  position: absolute;
  width: 1.7rem;
  background-color: var(--dark-sky);
  border-radius: 50%;
  top: 2.4rem;
  right: 8.4rem;
  color: var(--white-color);
}
.badge.badge-cart {
  right: 2rem;
}
.menu-icon {
  display: none;
  font-size: 2rem;
  margin-left: 4px;
  align-self: center;
}

@media only screen and (min-width: 250px) and (max-width: 600px) {
  .navbar {
    width: 100%;
    font-size: 1rem;
  }
  .logo-container {
    margin-left: -10px;
  }
  .menu-icon {
    display: block;
  }
  .nav-item {
    display: none;
  }
  .badge {
    display: none;
  }
  .cart,
  .wishlist {
    display: block;
    margin-left: 2rem;
  }
  .wishlist {
    margin-right: 3rem;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }
  .searchbox-container {
    display: block;
    position: absolute;
    top: 4.7rem;
    left: 0;
    right: 0;
    width: 100vw;
  }
  .badge {
    top: 1.2rem;
    right: 0rem;
    background-color: red;
  }
  .badge .badge-cart {
    right: 1rem;
    background-color: red;
  }
}
